base58==2.0.0
decorator==4.4.2
entrypoints==0.3
enum-compat==0.0.3
grpcio==1.27.2
httplib2==0.17.0
joblib==0.14.1
jsonschema==3.2.0
lxml==4.5.0
matplotlib==3.2.0
numpy==1.18.2
opt-einsum==3.2.0
pandas==1.0.2
rsa==4.0
s3transfer==0.3.3
scipy==1.4.1
seaborn==0.10.0
smart-open==1.10.0
streamlit==0.56.0
xgboost==1.1.0
scikit-learn==0.22.1
